extends layout

block content
    .jumbotron
        h1.display-4 Lab 03 - Routes, Views & Controllers
        hr
        p Jalpa Patel | 200395023
        a.btn.btn-primary.btn-lg(href='/contact' role='button') Contact